:root {
    --fontSans: 'Poppins', sans-serif;
    --fontSerif: 'Lora', serif;
    --primaryColor: #FF8303;
    --secondaryColor: #1B1A17;
    --tertierColor: #A35709;
    --lightColor: #F0E3CA;

    font-size: 16px;
    font-family: var(--fontSans);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
    font-size: inherit;
    outline: none;
    text-decoration: none;
    border: none;
}

.header {
    display: grid;
    place-items: center;
    background-color: var(--primaryColor);
    padding: 1.4em;
    position: fixed;
    top: 0;
    width: 100%;
    height: 40%;
    color: var(--lightColor);
    z-index: 2;
    opacity: .9;

    &__logo {
        font-size: 2rem;
        font-family: var(--fontSerif);
        letter-spacing: 8px;
        text-transform: uppercase;
        margin-bottom: 1.5rem;
    }

    &__form {
        display: flex;
        align-items: center;
        margin-bottom: 1.5em;

        &--input {
            padding: 8px 14px;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            width: 100%;
        }

        &--button {
            padding: 8px 18px;
            background-color: var(--secondaryColor);
            color: var(--lightColor);
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            cursor: pointer;
        }
    }

    &__info {
        display: block;
        width: 100%;
        background-color: var(--lightColor);
        color: var(--secondaryColor);
        padding: 2em 3em;
        border-radius: 10px;
        margin-bottom: -80px;

        span {
            display: block;
            margin-bottom: 1rem;
        }

        &--label {
            text-transform: uppercase;
            margin-bottom: 6px;
            font-size: .7rem;
            letter-spacing: 2px;
            color: gray;
        }

        &--value {
            font-size: 1.3rem;
        }

        &--toggle {
            display: block;

            a {
                display: block;
                color: var(--primaryColor);
                cursor: none;
            }
        }
    }
}

.map {
    width: 100%;
    min-height: 100vh;
    z-index: 0;
}

@media (min-width: 992px) {
    .header {
        height: max-content;

        &__info {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 4em;
            width: max-content;

            span {
                margin-bottom: 0;
            }

            &--toggle {
                display: none;
            }
        }
    }
}